body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.right{
    float: right;
}
.left {
    float: left;
}
.block{
    display: inline-block;
}
.contactButton{
    font-family: Calibri;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    background-color: #d84a38;
    cursor: pointer;
    padding: 0px 10px 0 10px;
    margin: 3px 4px 4px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
}
.navHeader{
    width: 100%;
    height: 25px;
    background-color: #2d2d2d;
    border-bottom: 1px solid #e5e5e5;
}

.innerNavHeader{
    width: 930px;
    margin: 0 auto 0 auto;
}

.navHeaderLink{
    font-family: Calibri;
    font-weight: bold;
    font-size: 12pt;
    color: #bebebe;
    text-decoration: none;
    margin-left: 18px;
}
.current{
    color: white;
}

.searchHeader{
    width: 930px;
    height: 34px;
    margin: 0 auto 0 auto;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.addAgent{
    cursor: pointer;
    position: relative;
    left: 105px;    
}

.imgBtn:active,
.addAgent:active{
    border: 1px solid rgba(255, 165, 0, 0);
}

.agentCount{
    font-family: Calibri;
    font-size:12pt;
    margin-top: 8px;
}

#searchInput{
    height: 22px;width: 186px;
    margin: 5px 0px 5px;
    padding: 0 0 0 13px;
    outline: none;
}

#searchInput:hover{
}

#searchBtn{
    margin: 4px 0 0 4px;
    cursor: pointer;
}

/* The CSS */
.searchHeader select {
    padding:3px;
    margin: 0px;
    letter-spacing: 1px;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    text-align: center;
    overflow: visible;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .searchHeader select {padding-right:18px}
}

.searchHeader label {position:relative;margin: 4px;}
.searchHeader label:after {
    
}
.searchHeader label:before {
    content:'>';
    font-family: 'Cicle Semi';
    font-size: 10pt;
    color: Black;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    top:5px;left: -3px;
    position:absolute;
    pointer-events:none;
}

.pageButton{
    background-color: Black;
    color: White;
    padding: 1px 12px 4px 11px;
    margin: 1px;
    font-weight: bold;
    font-size: 18pt;
    font-family: Cicle semi;
    right: 50px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.contactButton:active,
.pageButton:active{
    color: #ff9f00;
}

.searchCounter{
    font-family: Calibri;
    font-size: 12pt;
    position: relative;
    right: 50px;
    margin: 7px;
}

#listTable{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fefefe;
    border-collapse:collapse;
    font-family: Calibri;
    font-size: 10pt;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

#listTable2{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fefefe;
    border-collapse:collapse;
    font-family: Calibri;
    font-size: 10pt;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

#listTable2 a{
    text-decoration: none;
    color: black;
}

#listTable2 a:hover{
    text-decoration: underline;
    color: blue;
}

.tableDiv{
    width: 930px;
    margin: 0 auto 0 auto;
}

.headerRow{
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 12pt;
    height: 27px;
}

#listTable2 td,
#listTable td{
    height: 27px;
    border-top: 1px solid #e5e5e5;
}
#listTable2 tr:hover,
#listTable tr:hover{
    background-color: #f3f3f3;
}

.hidden{
    display: none;
}

.divider{
    position: relative;
    top: 10px;
    font-family: Calibri;
    font-size: 12pt;
    color: #4e4e4e;
    min-width: 20px;
}

.bold{
    font-weight: bold;
}

#p{
    width: 100%;height: 100%;
    display: none;
}

.progBar{
    width: 100%;
    display: none;
}

.otherRight{
    width: 10%;
    float: right;
    cursor: pointer;
    color: red;
}

.locText{
    margin-top: 5px;
    width: 245px;
}

.profileBody{
    width: 930px;
    margin: 0 auto 0 auto;
    margin-top: 31px;
}
.profilePhotoDiv{
    width: 205px;height: 369px;
}
.profileFormDiv{
    width: 725px;height: 369px;
}
.profilePrefDiv{
    width: 725px;
    margin-left: 205px;
    margin-top: 15px;
}

.profilePhoto{
    width: 180px;height: 250px;
    border: 1px solid black; 
    cursor: pointer;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.profileTable{
    color: #777777;
    font-size: 11pt;
}

.profileTable td{
    text-align: center;
}

.profileTableLabel{
   font-family: Calibri!important;
   font-size: 11pt!important;
   text-align: right!important;
   padding-right: 25px;
}

.profileTable div,
.profileTable textarea,
.profileTable input[type=text] {
    padding: 5px 8px;
    background: white url(404_search.png) no-repeat;
    background-position: 97% 50%;
    border: solid 1px #cdcdcd;
    outline: none;
    -moz-box-shadow: 0 4px 3px rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.05) inset;
    box-shadow: 0 4px 3px rgba(0,0,0,.05) inset;
    font-size: 11pt;
    color: #777777;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    resize: none;
}
.profileTable textarea:focus,
.profileTable input[type=text]:focus { border: solid 1px #9f9f9f }

.profileTable textarea{
    width: 247px;height: 221px;
}

.profileTable select:focus{
    outline: none;
}
.profileTable select{
    border: none;
}
.inputWidth{
    width: 247px;
}

.phoneWidth1{
    width: 24px;
    text-align: center;
}
.phoneWidth2{
    width: 49px;
    text-align: center;
}
.phoneWidth3{
    width: 56px;
    text-align: center;
}

.prefLabel {
    color: #cc5933;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1px;
}
.profilePrefDiv hr{
    width: 613px;
    float: left;
    margin-left: 10px;
    border: 2px solid #cc5933;
}
#btmTable{
    position: relative;
    right: 115px;
    top: 40px;
}
#agentPhotoProg{
    width: 182px;height: 20px;
    display:none;
}
#spInstHelper{
    display: none;
}
.imgBtn{
    margin-bottom: 28px;
}
.listingHead{
    height: 73px;
    background-color:  #f5f5f5;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}
.listingHeadImg{
    width: 93px;height: 61px;
    border: 1px solid black;
    margin: 6px 40px 6px 6px;
}
.listingHeadTitle{
    font-family: calibri;
    font-size: 16pt;
    margin-top: 26px;
}

.listingHeadSelect{
    font-family: calibri;
    font-size: 12pt;
    margin:25px 21px;
}
.listingBody{
    height: 0px;width: 928px;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    -moz-transition:height 0.5s;
    -webkit-transition:height 0.5s;
    -o-transition:height 0.5s;
    transition:height 0.5s;
    overflow: hidden;
}
.listingBodyLeft{
    margin: 20px 0 0 30px;
}
.listingBodyRight{
    margin: 24px 42px 0 0;
    font-family: Calibri;
    font-size: 13pt;
}
.listingBodyImage{
    width: 298px;height:198px;
    border: 1px solid black; 
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url("/Images/listingImgDrop.png");
}

#listingText{
    height: 134px;
}
.open{
    height: 469px;
}

.closed{
    height: 0px;
}

.loginForm{
    width: 228px;
    margin: 0 auto 0 auto;
}
.error{
    color: red;
}